@mixin buttonActive{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
    margin: 0 1rem;    
    
    &:hover {
        box-shadow: 0 3px #4433ff;
        top: 1px;
    }
    &:active {
        box-shadow: 0 0 #4433ff;
        top: 5px;
    }
}

@mixin buttonDesactive{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: grey;
    box-shadow: 0 5px grey;
    margin: 0 1rem;    
}